bin/maintdb_file_ops/.vs/maintdb_file_ops/v14/.suo
bin/maintdb_file_ops/obj/
bin/maintdb_file_ops/bin/
/.vs
/bin/maintdb_file_ops/.vs/maintdb_file_ops/FileContentIndex/e9081df0-9c15-4762-aafa-4c69de959eb7.vsidx
